/*Mario*/

body{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#MainContainer{
    width: 1200px;
    background-color: red;
    height: 1200px;
}

/*Ayada*/



/*Ronald*/



/*Raquel*/